    .recipe_card_box{
        width: 500px;
        height: 700px;
        background-color: rgba(0, 0, 0, 0.377);
        backdrop-filter: blur(100px);
        position: fixed;
        margin-top: 65px;
        right: 165px;
        border-radius: 15px;
        border: 1px solid rgba(255, 255, 255, 0.459);
        animation: Opacity 1 2s ease forwards;
        opacity: 0;
    }



    /* Animations */

    

    @keyframes Opacity{
        from {
            opacity: 0;
        } to {
            opacity: 1;
        }
    }
